html {
  min-height: 100%; }

body {
  min-height: 100%;
  margin: 0; }

#menu {
  text-align: center; }
  #menu .btn {
    width: 100%;
    margin-bottom: 15px; }
    #menu .btn.last {
      margin-bottom: 0; }

#projects {
  margin-top: 10px; }
  #projects .thumbnail {
    width: 96%;
    max-width: 480px;
    margin: auto 9px 10px;
    display: inherit; }

@media (min-width: 768px) {
  #projects .thumbnail {
    margin: 15px 0 10px 18px; } }
@media (min-width: 1200px) {
  #projects .thumbnail {
    max-width: 420px; } }
#portfolio {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("/images/background.jpg") center;
  -webkit-animation: slide 10s linear infinite;
  -moz-animation: slide 10s linear infinite;
  -o-animation: slide 10s linear infinite;
  animation: slide 10s linear infinite; }
  #portfolio.scrollable {
    position: static !important; }

.vertical-align {
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle; }
  .vertical-align + * {
    width: 98%;
    position: relative;
    display: inline-block;
    vertical-align: middle; }

@-webkit-keyframes slide {
  from {
    background-position: center -600px; }

  to {
    background-position: center 0; } }

@-moz-keyframes slide {
  from {
    background-position: center -600px; }

  to {
    background-position: center 0; } }

@-o-keyframes slide {
  from {
    background-position: center -600px; }

  to {
    background-position: center 0; } }

@keyframes slide {
  from {
    background-position: center -600px; }

  to {
    background-position: center 0; } }
