#short-bio{
  float:left;
  width:30%;
  margin-right:70px;
  height:100%;
}

#master-coder, .profession, #portfolio .item .title, #wrapper .portfolio-title{
  color:#2676D1;
}

.no-text-decoration{text-decoration:none;}

#wrapper{
  margin-left:60px;
  margin-top:60px;
}

#portfolio{
  margin-left:457px;
}

#portfolio .item{
  float:left;
  margin-bottom:40px;
  width:310px;
  margin-right:70px;
}

#portfolio .item .illustration{
  border:2px solid #D1D0C9;
}

#portfolio .item:hover .illustration, #portfolio .item .illustration:hover{
  border-color:#2A83E8;
  -moz-box-shadow: 0 0 5px #2A83E8;
  -webkit-box-shadow: 0 0 5px #2A83E8;
  box-shadow: 0 0 5px #2A83E8;
}

#portfolio .item .title{
  margin-top:15px;
  margin-bottom:0;
  text-align:center;
}

#portfolio .item .description{
  text-align:justify;
  color:#000000;
}

.show-if-desktop{
  display:block;
}

.show-if-mobile{
  display:none;
}