@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  #wrapper{
    width:310px;
    margin:0 auto;
    text-align:center;
    padding-top:10px;
  }
  
  #wrapper #master-coder, #wrapper .profession, #wrapper .portfolio-title{
  	font-size:50px;
  	line-height:1;
  }

  #wrapper .portfolio-title{
    margin-top:200px;
    display:block;
  }

  #portfolio .item:first-child{
    margin-top:20px;
  }

  #portfolio{
    margin-left:auto;
  }

  #short-bio{
    width:100%;
  }

  #short-bio + div{
    clear:both;
  }

  .show-if-mobile{
    display:block;
  }

  .show-if-desktop{
    display:none;
  }
}